<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title th:text="${post.title} + ' - Metal Blog'">Title</title>
</head>
<body>
<div class="container">
    <div class="leftcolumn">
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/posts/register}" class="ahrefbutton">Register</a> <a th:href="@{/posts/login}" class="ahrefbutton">Login</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <span sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/posts/newpost}" class="ahrefbutton">Write a new post</a>
            </span>
            <div class="float: right">
                <form th:action="@{/posts/logout}" method="POST">
                    <label>Hi, <span sec:authentication="name">Username</span></label>
                    <button type="submit" class="button">Logout</button>
                </form>
            </div>
        </div>


        <div class="post">
            <h2 th:text="${post.title}">Title goes here</h2>
            <p th:text="'Created by ' + ${post.userAccount.firstName}" class="meta-info-author">Creator data goes here</p>
    <!--        <p th:text="'Published ' + ${post.createdAt}">Creation date goes here</p>-->
            <p th:text="'Published ' + ${#temporals.format(post.createdAt, 'dd.MM.yyyy HH:mm')}"  class="meta-info-date">Creation date goes here</p><br>
            <p th:text="'Updated ' + ${#temporals.format(post.updatedAt, 'dd.MM.yyyy HH:mm')}"  class="meta-info-date">Update date goes here</p><br>

    <!--        <p th:text="${post.content}">Post content text goes here</p>-->
            <pre th:text="${post.content}">Post content text goes here</pre>

            <div sec:authorize="isAuthenticated()">
                 <span sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{'/posts/' + ${post.id} + '/updatePost'}" class="ahrefbutton">Edit</a>
                <a th:href="@{'/posts/' + ${post.id} + '/deletePost'}" class="ahrefbutton">Delete</a>
                 </span>
            </div>

            <div class="align-center">
                <a th:href="@{'/posts/{id}/comment'(id=${post.id})}">
                    <button class="button" type="button">Comment Post</button>
                </a>
            </div>
<p class="meta-info-author">Only registered users can comment on posts</p>

            <div class="comments">
                <h3>Comments</h3>
                <div class="comment" th:each="comment : ${post.comments}">
                    <p th:text="'Commented on ' + ${#temporals.format(comment.creationDate, 'yyyy-MM-dd')} + ' by ' + ${comment.user.userName}" class="meta-info-author">Comment date and author</p>
                    <p th:text="${comment.content}">Content of comment</p>
                    <div sec:authorize="isAuthenticated()">
                        <span sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{'/posts/' + ${comment.id} + '/deleteComment'}" class="deletebutton">Delete Comment</a>
                        </span>

                        <span sec:authorize="hasRole('ROLE_USER')">
                                <span th:if="${comment.user.email == #authentication.name}">
                        <a th:href="@{'/posts/' + ${comment.id} + '/deleteComment'}" class="deletebutton">Delete Comment</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>


            <div class="align-center">
                <a th:href="@{'/posts/{id}/comment'(id=${post.id})}">
                    <button class="button" type="button">Comment Post</button>
                </a>
            </div>


        </div>
        <a th:href="@{/posts}" class="ahrefbutton">Back to homepage</a>

<!--<a th:href="@{'/posts/' + ${post.id} + '/updatePost'}" class="ahrefbutton">Edit</a>-->
<!--<a th:href="@{'/posts/' + ${post.id} + '/deletePost'}" class="ahrefbutton">Delete</a>-->

        </div>
</div>
</body>
</html>